@page "/"

@* <h2>Что это?</h2> *@
@* *@
@* <p><b>TL/DR:</b> Пробный экзамен "на радиолюбительскую категорию".</p> *@

<p>
    Экзамен для проверки соответствия эксплуатационной и технической готовности минимальным требованиям,
    предъявляемым к радиооператорам любительской службы.
    @* , который вы будете сдавать в ГРЧЦ или СРР или другой *@
    @* уполномоченной организации, если захотите стать радиолюбителем и получить позывной. *@
</p>

@* <h2>Зачем это нужно?</h2> *@
@* *@
@* <p> *@
@*     Если вы это читаете - вероятнее всего, вы уже знаете ответ. А если вдруг вы попали сюда случайно, *@
@*     <a href=""> *@
@*         вот отличный способ познакомиться с темой поближе. *@
@*     </a> *@
@* </p> *@

@* <h2>Это вопросы из реального экзамена?</h2> *@

<p>
    Вопросы взяты из
    <a href="ham_exam_sprav_2020.pdf">
        <b>"Экзаменационного справочника радиолюбителя"</b>
    </a>,
    автор <b>А.Н. Заморока</b> (<b>UA0C</b>, ex <b>RA0CL</b>), Издание 2-е, переработанное и дополненное,
    Комсомольск-на-Амуре, 2020.
</p>

@* <p> *@
@*     Я постарался максимально точно перенести вопросы из данной публикации в этот виртуальный экзамен. Но в любом деле *@
@*     всегда присутствует человеческий фактор. Если вы заметили ошибку, или правильный ответ показался вам сомнительным *@
@*     - <a href="">напишите мне.</a> Я обязательно исправлю все недочеты. *@
@* </p> *@

@* <h2>А кому это доступно?</h2> *@
@* *@
@* <p> *@
@*     Всем без каких-либо ограничений на пол/возраст/религию/национальность/ориентацию/или что там еще сегодня *@
@*     всех волнует. *@
@* </p> *@
@* *@
@* <h2>Как можно это использовать?</h2> *@
@* *@
@* <p> *@
@*     Данный тест создан исключительно для проверки собственных знаний. *@
@*     <strong> *@
@*         Категорически не рекомендуется *@
@*         использовать данный тест для проведения онлайн-экзамена, так как проверка результатов *@
@*         осуществляется на стороне браузера, что позволяет создать ПО для индикации (в том числе скрытой) правильных *@
@*         ответов. *@
@*     </strong> *@
@* </p> *@

@* <p> *@
@*     В настоящий момент (сентябрь 2021) ведется работа над профессиональной платформой для онлайн-экзаменации *@
@*     с авторизацией на гос.услугах, ведением истории и серьезной защитой от подтасовки результатов. Новости по этой теме периодически публикуются. *@
@*     Я не предлагаю вам подписку на них, так как понимаю насколько это раздражает. Если у вас есть профессиональный или коммерческий интерес - <a href="">напишите мне</a>. *@
@* </p> *@

@* <h2>Все понятно. Что дальше?</h2> *@
@* *@
@* <p> *@
@*     Сначала нужно решить, какую квалификационную категорию вы хотите получить. Если вы не представляете, о чем идет *@
@*     речь, то <a href="">вот эта статья</a> даст хороший старт. *@
@* </p > *@
@* *@
@* <p>Если же у вас достаточно понимания или есть какой-нибудь опыт - попробуйте свои силы:</p > *@

<ul>
    <li>
        <p>
            <a href="/exam/4">Пробный экзамен на четвертую категорию</a>
            @* - проще, чем может показаться, хотя вам *@
            @* будут доступны только УКВ диапазоны. *@
        </p>

        <p class="fst-italic">
            Четвёртая квалификационная категория не имеет соответствия какой – либо лицензии СЕРТ.
            Но для её получения нужно сдать теоретический экзамен по программе лицензии СЕРТ начального уровня (ECC 89).
        </p>
    </li>


    <li>
        <p>
            <a href="/exam/3">Пробный экзамен на третью категорию</a>
            @* - здесь уже надо "знать матчасть". Если вы прекрасно *@
            @* понимаете, чем КВ отличается от УКВ, и AM от FM, и можете объяснить это другим - то без проблем справитесь. *@
        </p>
        <p class="fst-italic">
            Третья квалификационная категория соответствует лицензии СЕРТ новичка. Для её получения
            нужно сдать теоретический экзамен по программе лицензии СЕРТ новичка (ERC32).
        </p>
    </li>

    <li>
        <p>
            <a href="/exam/2">Пробный экзамен на вторую категорию.</a> 
            @* Вы точно знаете, что все знаете. *@
            @* Решительно непонятно, почему у вас все еще нет второй категории. *@
        </p>

        <p class="fst-italic">
            Вторая квалификационная категория соответствует полной лицензии СЕРТ. Для её получения
            нужно сдать теоретический экзамен по программе полной лицензии СЕРТ (T/R 61-02);
        </p>
    </li>

    <li>
        <p>
            <a href="/exam/1">Пробный экзамен на первую категорию.</a>
            @* Уже выбрали себе четырехзнак? *@
        </p>

        <p class="fst-italic">
            Первая квалификационная категория соответствует полной лицензии СЕРТ. Для её получения нужно сдать
            теоретический экзамен по программе полной лицензии СЕРТ (T/R 61-02) и дополнительно продемонстрировать
            умение принять передаваемый азбукой Морзе текст объёмом 250 знаков со скоростью 60 знаков в минуту;
        </p>
    </li>


</ul>