@inherits LayoutComponentBase

<div class="container-xxl" style="padding-bottom: 2em;" >
    @* <div class="sidebar"> *@
    @*     <NavMenu/> *@
    @* </div> *@
    <div class="row">

    <div class="col-xl-1"></div>
    <div class="col-xl-10">
        @* <div class="top-row px-4"> *@
        @*     <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a> *@
        @* </div> *@

        <div class="content px-4">
            <h1>hamtest.ru</h1>
            
            @Body
        </div>
    </div>
        <div class="col-xl-1"></div>
        </div>
</div>